
<div class = 'container'>
<%= form_for @boardgame do |f| %>
  <%= f.label :profile_photo, "Upload a Photo" %>
  <%= f.file_field :profile_photo %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :publisher, "Publisher" %>
  <%= f.text_field :publisher %>

  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>

  <%= form_for @categorization, url: boardgames_path do |f| %>
    <table class='container'>
      <th colspan="2"><%= f.label "Categories" %></th>
      <%= f.collection_check_boxes(:category_id, Category.all, :id, :name) do |cb| %>
      <tr>
        <td class='category_cell'><%= cb.label %> </td>
        <td class='category_checkbox'><%= cb.check_box %> </td>
      </tr>
      <% end %>
  </table>
    <%= f.submit "Submit", class: 'button', method: :post, url: boardgames_path  %>
  <% end %>
<% end %>
