<%= form_for [@boardgame, @review], url: boardgame_reviews_path do |f| %>
  <!-- <table> -->
    <th>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </th>
    <th>
      <%= f.label :rating, "Rating (scale of 1 - 5)" %>
      <%= f.select(:rating, options_for_select(@rating)) %>
    </th>
  <%= f.submit "Submit" %>
<!-- </table> -->
<% end %>
