<div class='container clearfix text-center'>
  <% boardgames.each do |boardgame| %>
    <table class="boardgame-list small-4 small-offset-4">
      <tr>
        <th colspan=5><%= link_to("#{boardgame.name}", boardgame_path(boardgame), :id => "boardgame_title") %></th>
      </tr>
      <tr>
        <th>Rating</th>
        <th>Publisher</th>
        <th>Description</th>
        <th>Category</th>
        <% if current_user && current_user.admin? %>
          <th>Actions</th>
        <% end %>
      </tr>
      <tr>
        <td><%= boardgame.avg_rating %></td>
        <td><%= boardgame.publisher %></td>
        <td><%= boardgame.description %></td>
        <td>
        <% if boardgame.categories %>
          <% boardgame.categories.each do |category| %>
            <div><%= category.name %></div>
            <%end%>
          </td>
          <% else %>
          <td> N/A </td>
        <%end%>
          <td>
            <%= button_to "Delete", boardgame_path(boardgame), method: :delete, class: 'button' %>
          </td>
      </tr>
    </table>
  <%end%>
  </div>
